/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

.right-box {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	float: right;
	margin-right: 2%;
	width: 60%;
	border: none;
	font-family: "Rokkitt", Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
	font-size: 24px;
	text-align: justify;
	color: black;
}

#big-number{
	font-size: 120px;
	font-weight: 900;
	border: none;
}

#number-byline{
	font-size: 24px;
	font-weight: 900;
	border: none;
}

#number-byline-text{
	font-size: 24px;
	font-weight: 400px;
	border: none;
}